*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
tools/poryscript
/.vs/pokeemerald-expansion/FileContentIndex
/.vs/pokeemerald-expansion/FileContentIndex/23f3b4d5-71bb-4802-830b-86e0a2fd393e.vsidx
/.vs/pokeemerald-expansion/FileContentIndex/3e9a93b6-2302-4a81-aafe-2949e7cf4c94.vsidx
/.vs/pokeemerald-expansion/FileContentIndex/53e07299-2a3e-40bc-ab64-2985ca30426d.vsidx
/.vs/pokeemerald-expansion/FileContentIndex/59d72fff-9e4c-41b5-b0a3-3174fb14ba14.vsidx
/.vs/pokeemerald-expansion/FileContentIndex/9aa9e60e-c49b-452a-9ea1-dee144188b7a.vsidx
/.vs/pokeemerald-expansion/FileContentIndex/a1b0ffe6-6636-43cb-a9ec-3289703b76e9.vsidx
/.vs/pokeemerald-expansion/FileContentIndex/d85e6f6a-57df-4688-90fd-9fd1dcdf524a.vsidx
/.vs/pokeemerald-expansion/FileContentIndex/e5794da8-b7fa-4bf6-bc9d-331c50a5757c.vsidx
/.vs/pokeemerald-expansion/v17
/.vs/pokeemerald-expansion/v17/.wsuo
/.vs/pokeemerald-expansion/v17/workspaceFileList.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
