[Desktop Entry]
Encoding=UTF-8
Name=Link to overworld_normal.pal
Type=Link
URL=https://github.com/rh-hideout/pokeemerald-expansion/blob/master/graphics/pokemon/clodsire/overworld_normal.pal
Icon=text-html
